@import "tailwindcss";

html, body {
    height: 100%;
    overscroll-behavior-y: none;
    touch-action: pan-x;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }