@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    background: white;
    height: 100%;
  }
  
  /* переменная для динамического vh */
  .full-height {
    height: calc(var(--vh, 1vh) * 100);
  }